<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>Little Brothers</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class='inline' href='/login'>Login</a></li>
        <li><a class='inline' href='/register'>Register</a></li>
      </ul>
    </div>
  </div>
</nav>
