<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>LBFE Volunteers Matching</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class='nav navbar-nav navbar-right'>
      	<li><a href='/volunteers'>Volunteers</a></li>
        <li><a href='/user/<%= user.username %>/'>My Account</a></li>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
