<!DOCTYPE html>
<html>
  <head>
    <title>Little Brothers Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

    <% include partials/navbar_logged_in %>

    <div class="puddle-container">

      <form class="form-group puddle-form" action="/sms" method="post">
        <table>
          <tr>
            <td><label>Text message to send</label></td>
            <td><input type="text" class="form-control" name="text_message" placeholder="Message"></td>
          </tr>
          <tr>
            <td><label>Phone number to send to (include country code)</label></td>
            <td><input type="text" class="form-control" name="phone_num" placeholder="Phone number"></td>
          </tr>
        </table>
        <button type="submit">Text</button>
      </form>
      
    </div>

    <table class="table table-striped col-md-4">
          <thead>
          <tr>
          <th>Volunteer Name</th>
          <th>Volunteer Phone Number</th>
          </tr>
          </thead>
          <tbody>
          <% volunteers.forEach(function(volunteer){ %>

              <tr>
                  <td><%= volunteer.name %></td>
                  <td><%= volunteer.phone %></td>
              </tr>

          <%  }) %>

          </tbody>
    </table>


  </body>
</html>
