<!DOCTYPE html>
<html>
  <head>
    <title>Little Brothers Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

    <% include partials/navbar_logged_in %>

    <div class="puddle-container">
      <p class="warning"><%= message %></p>
      <form class="form-group puddle-form" action="/changepwd" method="post">
        <table>
          <tr>
            <td><label>Current password</label></td>
            <td><input type="password" class="form-control" name="pwd_old" placeholder="Old password"></td>
          </tr>
          <tr>
            <td><label>New password</label></td>
            <td><input type="password" class="form-control" name="pwd_new" placeholder="New password"></td>
          </tr>
          <tr>
            <td><label>Confirm  new password</label></td>
            <td><input type="password" class="form-control" name="pwd_confirm" placeholder="Confirm password"></td>
          </tr>
        </table>
        <button type="submit">Text</button>
      </form>

    </div>
  </body>
</html>
