<!DOCTYPE html>
<html>
  <head>
    <title>Little Brothers Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

    <% include partials/navbar_logged_in %>
    <div class = "container-fluid"> 
      <br>
      <div class="container"> 
        <form class="form-inline" action="/delete" method="post">
          <div class="form-group">
            <label>Volunteer to delete</label>
            <input type="text" class="form-control" name="volunteer_name" placeholder="Volunteer name">
          </div>
          
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <p class="warning"><%= message %></p>
      </div>
      <br>
      <div class="container"> 
        <table class="table table-striped col-md-4">
          <thead>
            <tr>
            <th>Volunteer Name</th>
            <th>Volunteer Phone Number</th>
            </tr>
          </thead>
          
          <tbody>
            <% volunteers.forEach(function(volunteer){ %>

                <tr>
                    <td><%= volunteer.name %></td>
                    <td><%= volunteer.phone %></td>
                </tr>

            <%  }) %>

          </tbody>
        </table>
      </div>
    </div>


  </body>
</html>
